.navbar {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    max-height: 110px;
    width: 100%;
    justify-content: space-between;
}

.navbar-logo img {
    height: 100px;
    padding: 10px 10px;
}

.nav-right {
    display: flex;
    margin-right: 20px;
}

.navbar-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.navbar-link {
    text-decoration: none;
    color: #08046C;
    padding: 10px 20px;
    font-weight: bold;
}

.navbar-link:hover {
    background-color: #08046C;
    color: #fff;
    border-radius: 25px;
}

.navbar-link.active {
    background-color: #08046C;
    color: #fff;
    text-decoration: underline;
    border-radius: 25px;
}

.navbar-whatsapp img {
    height: 50px;
}

.navbar-whatsapp img:hover {
    transform: scale(1.1);
}